/** reset **/
html, head, body, div, p, img, a, h1, ul, ol, li, footer, header {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
a {
    line-height: 0;
}
button {
    margin: 0;
    padding: 0;
    border-width: 0;
    background: transparent;
    cursor: pointer;
}



.main-div {
    position: relative;
}

.main-div .close-btn {    
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}

.main-div .close-btn img {    
    width: 122px;
}
@media (max-width: 500px) {
    .main-div .close-btn img {    
        width: 100px;
    }   
}
@media (max-width: 450px) {
    .main-div .close-btn img {    
        width: 80px;
    }   
}
@media (max-width: 400px) {
    .main-div .close-btn img {    
        width: 60px;
    }   
}

.main-img {
    display: block;
    width: 100%;
}

.main-div .start-close-button {
    position:fixed;
    right: 5%;
    bottom: 5%;
    width: 25%;
}
.main-div .start-close-button img {
    display: block;
    width: 100%;
}

header.main-header {
    position: relative;
    width: 100%;
}

header.main-header h1 {
    display: block;
    width: 100%;   
    height: 110px; 
    line-height: 110px;
    font-size: 40px;
    text-align: center;

    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.8);
}
header.main-header button.close {
    position: absolute;
    left: 0;
    top: 0;
}
header.main-header button.home {
    position: absolute;
    right: 0;
    top: 0;
}
header.main-header button img {
    display: block;
    height: 110px;
}

header.main-header button img.off {
    display: block;
}
header.main-header button img.on {
    display: none;
}
header.main-header button.on img.off {
    display: none;
}
header.main-header button.on img.on {
    display: block;
}

@media (max-width: 500px) {
    header.main-header h1 {
        height: 90px;
        line-height: 90px;
        font-size: 30px;
    }
    header.main-header button img {
        height: 90px;
    }
}
@media (max-width: 450px) {
    header.main-header h1 {
        height: 80px;
        line-height: 80px;
        font-size: 25px;
    }
    header.main-header button img {
        height: 80px;
    }
}
@media (max-width: 400px) {
    header.main-header h1 {
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }
    header.main-header button img {
        height: 60px;
    }
}


.swiper-slide img {
    width: 100%;
    display: block;
}

footer.main-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10001;
    background: #fff;
}

footer.main-footer ul.navigator {
    display: flex;
}
footer.main-footer ul.navigator > li {
    flex: 1;
}
footer.main-footer ul.navigator > li a {
    display: block;
    width: 100%;
}

footer.main-footer ul.navigator > li a img.off {
    display: block;
}
footer.main-footer ul.navigator > li a img.on {
    display: none;
}
footer.main-footer ul.navigator > li a.on img.off {
    display: none;
}
footer.main-footer ul.navigator > li a.on img.on {
    display: block;
}

footer.main-footer ul.navigator > li img {
    width: 100%;
}

footer.main-footer ul.menu {
    display: flex;
}
footer.main-footer ul.menu > li {
    flex: 1;
}
footer.main-footer ul.menu > li button {
    display: block;
    width: 100%;
}
footer.main-footer ul.menu > li img {
    display: block;
    width: 100%;
}

footer.main-footer ul.menu > li button img.off {
    display: block;
}
footer.main-footer ul.menu > li button img.on {
    display: none;
}
footer.main-footer ul.menu > li button.on img.off {
    display: none;
}
footer.main-footer ul.menu > li button.on img.on {
    display: block;
}

main.swiper-container {
    margin-bottom: 100px;
}


